p #{@inviter.screen_name}からグループ「#{@inviter.name}」への招待が届いています。
p グループに参加するには、下のリンクをクリックしてユーザー名とパスワードを設定してください。
p 
= link_to "#{@inviter.name}のメンバーになる", edit_invitation_url(@invite_user.invite_token, email: @invite_user.email)
p 
p このリンクは24時間で有効期限が切れます。
p リンクが切れてしまった場合には再度、招待を送っていただいてください。