h1 01Books
p= "# @inviter.screen_name さんがあなたを01Booksに招待しています。"
p 01Booksは、心理学的に正しい本の学習ツールです。
p 01Booksに参加するには、下のリンクをクリックしてください。
p 
= link_to "01Booksのメンバーになる", edit_invitation_url(@invite_user.invite_token, email: @invite_user.email)
p 
p このリンクは24時間で有効期限が切れます。
p
  | 意図せずリンクが切れてしまった場合には、友人にもう一度招待メールを送ってもらうか、お手数ですがTwitterで@kawanji01まで直接DMをください。