@import "jquery-ui/theme";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";

.selectDate {
    display: inline;
}

/*下からフェードイン*/
.per_person {
    text-align: center;
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein-bottom {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 /* これがないとautocomplateの結果がmodalの裏に行ってしまう */
 .ui-autocomplete {
     z-index: 1051;
}

.per-person {
   display: inline;
   font-size: 75%;
}
.value {
   display: inline;
   font-size: 125%;
   border-bottom: 2px solid;
}

.slider-value {
   display: inline;
   font-size: 110%;
}

.sum_value {
   display: inline-block;
   font-size: 130%;
   vertical-align: auto;
}

.sum_txt {
   display: inline-block;
   font-size: 130%;
   vertical-align: auto;
}

.sum_parent {
   text-align: center;
}