@import "jquery-ui/theme";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";

.selectDate {
    display: inline;
}

/*下からフェードイン*/
.per_person {
    text-align: center;
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein-bottom {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 /* これがないとautocomplateの結果がmodalの裏に行ってしまう */
 .ui-autocomplete {
     z-index: 1051;
}

.per-person {
   display: inline;
   font-size: 75%;
}
.value {
   display: inline;
   font-size: 125%;
   border-bottom: 2px solid;
}

.slider-value {
   display: inline;
   font-size: 110%;
}

.sum_value {
   display: inline-block;
   font-size: 130%;
   vertical-align: auto;
}

.sum_txt {
   display: inline-block;
   font-size: 130%;
   vertical-align: auto;
}

.sum_parent {
   text-align: center;
}

.show-button {
   text-align: right;
}

#cars {
   display: inline-block;
 }

 .card-context {
   display: inline-flex;
 }

 .index-body{
   display: flex;
 }



 // マウスホバー時の下線を非表示
 a:hover {
   text-decoration: none;
 }

 .card{
   position: relative;
   z-index: 0;
 }

 // caedにマウスホバー時のグラーデーション処理
 .card-body.text-dark {
   background: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .11);
   color: #fff;
   display: inline-block;
   padding: 16px 24px;
   position: relative;
   transition: .3s cubic-bezier(.4, 0, .2, 1);
 }

 .card-body.text-dark:hover {
   background: transparent;
 }

 .card-body.text-dark:after {
   background: linear-gradient(45deg, #B2FEFA, #0ED2F7);
   border-radius: 2px;
   bottom: 0;
   content: '';
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
 }

 .card-title.my-0 {
    color: #2c3e50;
 }

 .mt-1.mb-0 {
   color: #2c3e50;
 }

 .alert.alert-success {
   position: fixed;
   bottom: 10px;
   margin-bottom: 0;
   width: 80%;
 }

 .card-body.text-dark.groups {
   background: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .11);
   color: #fff;
   display: inline-block;
   padding: 16px 24px;
   position: relative;
   transition: .3s cubic-bezier(.4, 0, .2, 1);
 }

 .card-body.text-dark.groups:hover {
   background: transparent;
 }

 .card-body.text-dark.groups:after {
   background: linear-gradient(45deg, #a8ff78, #78ffd6);
   border-radius: 2px;
   bottom: 0;
   content: '';
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
 }

 .card-body.text-dark.groups {
    font-size: 25px;
 }

 .app-title.navbar.navbar-light {
    background-color: #BDC0BA;
 }

 // 「経費が登録されていません」
 .col-6.d-flex.align-items-center.justify-content-center.expenses-pc,
    h2.mt-5{
      color: #BDC0BA;
   }
 .col-12.d-flex.align-items-center.justify-content-center.expenses-mobile,
    h2.mt-4.mb-3{
      color: #BDC0BA;
      font-size: 105%;
   }

 #group-delete {
    float: right;
 }

 #group-delete-text {
   float: center;
 }

 #index-group-text {
   color: #BDC0BA;
   text-align: center;
 }

 .col-1.config-btn {
   position:fixed;
   right:50px;
   bottom:50px;
 }

 // 日付エリア
 .select_date_wrapper.col-xs-auto.col-sm-6.col-md-9.text-nowrap {
   text-align: center;
 }

 // 設定エリア
 .button-for-pc.col-md-3.col-xl-6{
   text-align: right;
 }

 @media (min-width: 769px) {
   .button-for-mobile {
      display: none;
   }
   .expenses-mobile {
      display: none;
   }
 }

 // PCサイズ用
 @media (min-width: 545px) {
   .nav-link.login_singin.pc{
      display: none;
   }
   .select_date_wrapper.col-xs-auto.col-sm-6.col-md-9.text-nowrap{
      text-align: left;
   }

   // 経費追加, 月変更ボタン
   .selectDate {
      margin: 5%;
   }

   .DrowPieChart {
      position: fixed;
      left: 32%;
      bottom: 40%;
      width: calc(100% - 20px);
      max-width: 650px;
      max-height: calc(100% - 20px);
      overflow-y: auto;
      transform: translate(50%,50%);
    }
 }

 // モバイルサイズ用(sm)
 @media (max-width: 768px) {
   .button-for-pc{
      display: none;
   }
   // ボタンを下に移動させる
   .btn.btn-lg.btn-outline-secondary.float-right.mr-3 {
      position: fixed;
      bottom: 50;
      z-index: 1051;
   }
   .footer {
      background: #2c3e50;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10%;
   }
   .nav-link.login_singin.mobile{
      display: none;
   }

   #group-index {
      font-size: 175%;
   }

   #add_group_btn {
      position:fixed;
      right:0px;
      bottom:50px;
   }
   .card-body.text-dark.groups {
      font-size: 100%;
   }
   .card-body.text-dark {
      padding: 3%;
   }

   // expenses-index
   #PerPersonExpenses {
      font-size: 160%;
   }

   // 経費追加, 日付, 月変更ボタン
   .selectDate {
      font-size: 160%;
      margin-left: 2%;
      margin-right: 2%;
   }

   .expenses-pc {
      display: none;
   }

   // 経費名
   .expense-name {
      font-size: 120%;
   }

   // footerの表示/非表示
   .footer {
      transition-property: opacity; 
      transition-duration: 0.3s;

      opacity: 1;
   }

   // 下部ボタンリスト
   .button-for-mobile {
      text-align: center;
   }

   .col-12.expenses-mobile, 
      .col-auto {
         padding: 0%;
      }

   .DrowPieChart {
      text-align: center;
   }
   .DrowPieChart,
    canvas{
      margin: auto;
   }
 }