h1 経費の編集

= render partial: 'form', locals: { expense: @expense}

javascript:
  $(function () {
    $('#datetimepicker').datetimepicker({
        locale: 'ja',
        dayViewHeaderFormat: 'YYYY年 M月',
        format: 'YYYY/MM/DD',
    });
    console.log('application')
  });